<div class="bg">
  <div class="board">
    <div class="form-contents">
        <h2>新規登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <% # ユーザー名 %>
        <div class="field form-item">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-input" %>
        </div>

        <% # メール %>
        <div class="field form-item">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-input" %>
        </div>

        <% # パスワード %>
        <div class="field form-item">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %><br />
          <small>パスワードは8文字以上で入力してください</small>
        </div>

        <% # パスワード(確認用) %>
        <div class="field form-item">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
        </div>

        <% # 新規登録ボタン %>
        <div class="actions">
          <%= f.submit "新規登録", class:"btn-form" %>
        </div>
      <% end %>

      <div class="form-links">
        <%= render "devise/shared/links", class: "form-link" %>
      </div>

    </div>
  </div>
<div>