<%= search_form_for @q do |f| %>
  <% #ユーザ名検索フォーム%>
  <%= f.label :name, "ユーザ名" %>
  <%= f.search_field :name_cont %>
  <% #ユーザ名検索フォーム%>
  <% #エンジニア歴 %>
  <% #現在の雇用形態 %>
  <p>
    <%= f.label :employment_status, "雇用形態" %>
    <%= f.radio_button :employment_status_eq, ' ', {:checked => true} %>
    <span>指定なし</span>
    <%= f.radio_button :employment_status_eq, '正社員' %>
    <span>正社員</span>
    <%= f.radio_button :employment_status_eq, '契約社員' %>
    <span>契約社員</span>
    <%= f.radio_button :employment_status_eq, '業務委託' %>
    <span>業務委託</span>
    <%= f.radio_button :employment_status_eq, 'フリーランス' %>
    <span>フリーランス</span>
    <%= f.radio_button :employment_status_eq, 'アルバイト' %>
    <span>アルバイト</span>
    <%= f.radio_button :employment_status_eq, 'その他' %>
    <span>その他</span>
  </p>

  <p>
    <% #婚姻歴 %>
    <%= f.label :marriage, "婚姻歴" %>
      <%= f.radio_button :marriage_eq, ' ', {:checked => true} %>
      <span>指定なし</span>
      <%= f.radio_button :marriage_eq, '未婚' %>
      <span>未婚</span>
      <%= f.radio_button :marriage_eq, '既婚' %>
      <span>既婚</span>
      <%= f.radio_button :marriage_eq, '離別' %>
      <span>離別</span>
  </p>

  <p>
    <% #育児状況 %>
    <%= f.label :childcare, "育児状況" %>
      <%= f.radio_button :childcare_eq, ' ', {:checked => true} %>
      <span>指定なし</span>
      <%= f.radio_button :childcare_eq, '子供なし' %>
      <span>子供なし</span>
      <%= f.radio_button :childcare_eq, '子供あり(育児なし)' %>
      <span>子供あり(育児なし)</span>
      <%= f.radio_button :childcare_eq, '子供あり(育児あり)' %>
      <span>子供あり（育児あり）</span>
  </p>

  <p>
    <% #介護状況 %>
    <%= f.label :care, "介護状況" %>
      <%= f.radio_button :care_eq, ' ', {:checked => true} %>
      <span>指定なし</span>
      <%= f.radio_button :care_eq, false %>
      <span>介護なし</span>
      <%= f.radio_button :care_eq, true %>
      <span>介護あり</span>
  </p>


  
  <%= f.submit "検索" %>
<% end %>

<ul>
  <% @users.each do |user| %>
    <%= link_to user_path(user.id) do %>
      <li class="user_index">
        <%# プロフィール画像 %>
        <%= image_tag user.image.url, width: 50 %>
        <%# ユーザー名 %>
        ユーザー名：<%= user.name %><br>
        <%# 年齢 %>
        <% unless user.birthday.nil? %>
          年齢：<%= age(user) %>歳
        <% end %>
        <%# エンジニア歴 %>
        <% unless user.engineer_start_at.nil? %>
          エンジニア歴：<%= engineer_history(user) %>年目
        <% end %>
        <% unless user.posts.count == 0 %>
          <% @post = user.posts.last %>
          <%# 雇用形態 %>
          雇用形態：<%= @post.employment_status %>
        
          <%# 婚姻歴 %>
          婚姻歴：<%= @post.marriage %>
        
          <%# 育児状況 %>
          育児状況：<%= @post.childcare %>
        
          <%# 介護状況 %>
          <% if @post.care == true %>
            介護あり
          <% else %>
            介護なし
          <% end %>
        
          <%# コメント %>
          <% unless @post.content == "" %>
            コメント：<%= @post.content %>
          <% end %>
        <% end %>
        
        <%# フォローボタン %>
        <% if current_user != user %>
          <% if user.followed_by?(current_user) %>
            <P><%= link_to "フォロー中", user_relationships_path(user.id), method: :delete %></p>
          <% else %>
            <P><%= link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ol>
