<div class = "u-user-bg">
  <div class ="p-user-container">
    <div class = "p-user-container__main">
      <div class = "p-user-container__main__profile">
         <div class = "p-user-container__main__profile__photo">
          <%# プロフィール画像 %>
          <%= image_tag @user.image.url %>
        </div>

        <div class = "p-user-container__main__profile__detail">
          <%# ユーザーネーム %>
          <h3><%= @user.name %></h3>

          <div class="post-show">
              <ul>
                <%# 年齢 %>
                <% unless @user.birthday.nil? %>
                  <li>年齢：<%= (Date.today.strftime('%Y%m%d').to_i - @user.birthday.strftime('%Y%m%d').to_i) / 10000  %>歳</li>
                <% end %>

                <%# エンジニア歴 %>
                <% unless @user.engineer_start_at.nil? %>
                  <li>エンジニア歴：<%= (Date.today.strftime('%Y%m%d').to_i - @user.engineer_start_at.strftime('%Y%m%d').to_i) / 10000  %>年目</li>
                <% end %>
                <% unless @user.posts.count == 0 %>
                  <%# 雇用形態 %>
                  <li>雇用形態：<%= @post.employment_status %></li>

                  <%# 婚姻歴 %>
                  <% if @user.marriage %>
                    <li>婚姻歴：<%= @user.marriage %></li>
                  <% end %>

                  <%# 育児状況 %>
                  <li>育児状況：<%= @post.childcare %></li>

                  <%# 介護状況 %>
                  <li>
                    介護状況：
                    <% if @post.care == true %>
                      介護あり
                    <% else %>
                      介護なし
                    <% end %>
                  </li>

                  <%# コメント %>
                  <% unless @post.content == "" %>
                    <li><%= @post.content %></li>
                  <% end %>

                  <%# フォロー数 %>
                  <p class = "p-user-container__main__profile__detail__followers">
                    <%= link_to @user.followings.count, user_follow_path(@user.id), class: "p-user-container__main__profile__detail__followers__count" %>フォロー中&nbsp&nbsp&nbsp;
                    <%= link_to @user.followers.count, user_follower_path(@user.id), class: "p-user-container__main__profile__detail__followers__count" %>フォロワー
                  </p>
                <% end %>
              </ul>
          </div>
        </div>
      </div>
      <span>
        <%# フォローボタン %>
        <% if user_signed_in? && current_user != @user %>
          <% if @user.followed_by?(current_user) %>
            <span class="c-btn__following">
              <P><%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class:"c-btn__following--normal" %></p>
              <P><%= link_to "フォロー解除", user_relationships_path(@user.id), method: :delete, class:"c-btn__following--hover" %></p>
            </span>
          <% else %>
            <P><%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"c-btn__follow" %></p>
          <% end %>
        <% end %>
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to "ユーザ情報編集", edit_user_registration_path, class:"c-btn__edit" %>
        <% end %>
      </span>
    </div>

    <div class = "p-user-container__career">
      <div class = "p-user-container__career__contents">
        <%# 新規追加 %>
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to "＋ 新規追加", new_post_path,  class:"c-btn__addCareer" %>
        <% end %>

        <%# 投稿一覧 %>
        <% @posts.each do |post| %>
          <hr>
          <ul>
            <li>
              <%# 期間 %>
              <i class="fas fa-map-marker-alt fa-2x p-user-container__career__contents__fas"></i>
              <span class="p-user-container__career__contents__period">
                <%= post.start_at %> ~ <%= post.end_at %>
              </span>

              <%# 編集と削除ボタン %>
              <% if user_signed_in? && current_user.id == @user.id %>
                  <%= link_to "編集", edit_post_path(post), class: "p-user-container__career__contents__edit" %>
                  <%= link_to "削除", post_path(post), method: :delete, data: {confirm: "削除しますか？"}, class: "p-user-container__career__contents__delete" %>
              <% end %>q
            </li>
            <li>雇用形態：<%= post.employment_status %></li>
            <li>婚姻歴：<%= post.marriage %></li>
            <li>育児状況：<%= post.childcare %></li>
            <% unless post.child.nil? %>
              <li>子供：<%= post.child %>人</li>
            <% end %>
            <li>
              介護状況：
              <% if post.care == true %>
                介護あり
              <% else %>
                介護なし
              <% end %>
            </li>
            <% unless post.content == "" %>
              <li class=""><%= post.content %></li>
            <% end %>
          </ul>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
