<div class="u-form-bg">
  <div class="p-form-board">
    <div class="p-form-board__contents">
      <h2>ログイン</h2>

      <% # メールアドレス %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field p-form-board__contents__item">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "p-form-board__contents__item__text" %>
        </div>

        <% # パスワード %>
        <div class="field p-form-board__contents__item">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "p-form-board__contents__item__text" %>
        </div>

        <% # ログイン情報を記憶しても良いですか？ %>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me  %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <% # ログインボタン %>
        <div class="actions">
          <%= f.submit "ログイン", class:"c-btn-form" %>
        </div>
      <% end %>
      
      <% # 「新規登録」「パスワードを忘れた方はこちら」%>
        <div class="p-form-board__contents__links">
          <%= render "devise/shared/links" %>
        </div>

    </div>
  </div>
</div>