<h1>編集画面</<h1>
<%= form_for @post do |f| %>
<% # 期間 %>
<div class="field">
  <%= f.label "期間" %><br>
  <%= @post.f.date_field :start_at, autocomplete: "start_at" %>
  ~
  <%= @post.f.date_field :end_at, autocomplete: "end_at" %>
</div>
<p></p>

  <% # 保存ボタン %>
  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>
