<!DOCTYPE html>
<html>
  <head>
    <title>サイト名</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>
  <body>
    <%= render partial: "/shared/header" %>
    <div class="wrapper">  
      <%= yield %>
    </div>
    <%= render partial: "/shared/footer" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="#"></script>
  </body>
</html>
